<p id="notice" style="color: green"><%= notice %></p>

<h1>Friend list</h1>

<table class="table" id="friends">
  <thead>
    <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Twitter</th>
    <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <%= render friend %>
      

    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path %>